<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a routerLink='/' class="btn btn-sm btn-outline-secondary">Logout</a>
    </form>
  </nav>


<div class="container-fluid">
    <h1 style="text-align: center;">Welcome Back User</h1>


    <div class="row"> 
    <div class="leftside" style="margin-left: 100px;">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush" style="list-style-type: none;">
                <a class="btn btn-outline-secondary">
              <li>
                Your Diet </li></a> <br>
                <a class="btn btn-outline-danger">
                <li>
                Your Progress</li></a> <br>
               <a class="btn btn-outline-success">
                 <li>Your Goals
                 </li></a>
                    
              
            </ul>
          </div>
    </div>

  
    <div class="card" style="width: 18rem; float: left; margin-left: 100px;">
        <img src="assets/images/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Get Back on Track!!! It's never too late!</p>
        </div>
      </div>

    
    <div class="rightside" style="margin-left: 100px;float: right;">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush" style="list-style-type: none;">
                <a class="btn btn-outline-secondary">
              <li>
                Your Instructor</li></a> <br>
                <a class="btn btn-outline-danger">
                <li>
                Change Instructor</li></a> <br>
               <a class="btn btn-outline-success">
                 <li>
                 Change Schedule</li></a>
                    
              
            </ul>
          </div>
    </div>
    </div>
  </div>