<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a routerLink='/' class="btn btn-sm btn-outline-secondary">Logout</a>
    </form>
  </nav>
<div class="container">
    <div class="row">
    <div class="leftside" style="margin-left: 300px;">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush" style="list-style-type: none;margin-top: 30px;">
                <a routerLink='/users' class="btn btn-outline-secondary">
              <li>
                 Members </li></a> 
                 
            </ul>
          </div>
    </div>
    <div class="rightside" style="margin-left: 100px;">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush" style="list-style-type: none;margin-top: 30px;">
               
                <a routerLink='/instructors' class="btn btn-outline-success">
                <li>
               Instructors </li></a> <br>
            </ul>
          </div>
    </div>
</div>
</div>